<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.mebeatme.android">
    <application android:label="MeBeatMe">
        <activity android:name="com.mebeatme.android.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
